<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.piegon" version="1.0.0">
  <name>Pigeon</name>
  <description>Chatting Application</description>
  <author href="http://gurusathishtent.blogspot.in/" email="sathishkumarb1139@gmail.com">PhoneGap Team</author>
  <content src="index.html"/> 
  <access origin="*"/> 
</widget>